data/voc_dataset/*
data/city_dataset/*
data/pcontext_dataset/*
checkpoints/*
pretrained_models/*

*__pycache__*
*/__pycache__

train_pascal*
train_city*
train_pc*
train_voc*

evaluate_*
load_*
results/*
mlmt_output/
reports/

mlmt_data.py
mlmt_v1.py
mlmt_v2.py
mlmt_feat.py
*.sh
myprog*
