data/voc_dataset/*
data/city_dataset/*
data/pcontext_dataset/*
checkpoints/*
pretrained_models/*

*__pycache__*
*/__pycache__

train_pascal*
train_city*
train_pc*
train_voc*

evaluate_*
load_*
results/*

*.sh
myprog*
